.ContainerMenu {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
    padding: 2.5rem 0;
    position: relative;
    animation: header 500ms ease-in-out;
}

/* .Logo span {
    font-size: 1.8rem;
} */

.Logo {
    margin-top: -1.5%;
}

.Logo img {
    height: 50px;
    -webkit-animation: spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
}

@-moz-keyframes spin {
    50% {
        -moz-transform: rotate(40deg);
    }
}

@-webkit-keyframes spin {
    50% {
        -webkit-transform: rotate(40deg);
    }
}

@keyframes spin {
    50% {
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
    }
}

.Nav span {
    margin-left: 30px;
}

.Nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    position: relative;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}


.Nav a:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: #fff;
    transform: scale(0);
    transform-origin: right;
    transition: transform 400ms ease-in-out;
}


.Nav a:hover:before {
    transform: scale(1);
    transform-origin: left;
}

.bars {
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.Nav a:hover,
.bars:hover {
    opacity: 0.7;
}

.bars {
    display: none;
    color: black;
}


@media (max-width: 840px) {
    .ContainerMenu {
        width: 90%;
    }
}


@media (max-width: 640px) {

    .ContainerMenu {
        padding: 2rem 0;
    }

    .bars {
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 100;
        top: 2.5rem;
        right: 1rem;
        width: 55px;
        height: 48px;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    }

    .Nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        background: #82b5bdea;
        inset: 0;
        justify-content: center;
        align-items: left;
        font-size: 2rem;
        gap: 2rem;
        font-weight: 700;
        transition: height 400ms ease-in-out;
        overflow: hidden;
        z-index: 100;
    }

    .bar p {
        font-size: 13px;
        cursor: pointer;
        font-weight: bold;
    }

    .Logo {
        margin-top: 0%;
    }
}