.contact {
    margin-top: 2rem;
    position: relative;
    padding: 2rem 0;
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.modelIcons {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 70%;
}

.icons {
    flex: 1 1 25rem;
    text-align: center;
    padding: 5%;
    background: rgba(0, 0, 0, 0.16);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}

.icons h3 {
    font-weight: 700;
    font-size: 17px;
    padding: .5rem 0;
    padding-top: 1rem;
}

.icons p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

.inputValue {
    width: 70%;
    background: rgba(0, 0, 0, 0.16);
    padding: 2%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: 2%;
}

.inputValue form .box,
.inputValue form textarea {
    width: 100%;
    color: rgb(255, 255, 255);
    text-transform: none;
    font-size: 14px;
    margin: 1rem 0;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.616);
    padding: 1%;
    background: none;
}

.inputValue form .box:focus,
.inputValue form .box:active {
    border: none;
}

.inputValue form textarea {
    height: 10rem;
    resize: none;
}

.btnSendMessage {
    margin-top: 2%;
}

.btnSendMessage button {
    padding: 0.7rem 2rem;
    cursor: pointer;
    background: #82b5bd;
    border: none;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}

.btnSendMessage button:hover {
    filter: drop-shadow(0px 10px 10px #82b5bd22);
}

@media(max-width:991px) {
    .modelIcons {
        width: 100%;
    }

    .inputValue {
        width: 100%;
        padding: 6%;
    }
}

@media (max-width: 650px) {
    .contact {
        flex-direction: column;
        gap: 3rem;
    }
}