.center-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-circle-7 {
    position: relative;
    width: 70px;
    height: 70px;
    display: inline-block;
}

.loader-circle-7:before,
.loader-circle-7:after {
    content: "";
    display: block;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border-color: #ffffff;
    top: 0;
    left: 0;
}

.loader-circle-7:before {
    animation: loader-circle-7-scale 1s linear 0s infinite;
}

.loader-circle-7:after {
    opacity: 0;
    animation: loader-circle-7-scale 1s linear 0.5s infinite;
}

@keyframes loader-circle-7-scale {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(0.7);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}