.ContainerProfileStart {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 5rem;
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    z-index: 1;
}

.Texts {
    flex: 1;
}

.Texts h4 {
    padding: 1rem 0;
    font-weight: 500;
    font-size: 16px;
}

.Texts h1 {
    font-size: 2rem;
    font-family: "Secular One", sans-serif;
    letter-spacing: 2px;
}

.Texts h3 {
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 1.2rem;
    text-transform: capitalize;
}

.Texts p {
    font-weight: 300;
    font-size: 14px;
}

.positionButtonAndLineGit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    align-items: center;
}

.postSearch {
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transform: rotate(-2deg);
}

.postSearch img {
    border-radius: 8px;
    cursor: pointer;
    padding: 2px;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -webkit-animation: post 2s linear infinite;
    -moz-animation: post 2s linear infinite;
    animation: post 2s linear infinite;
}

@keyframes post {
    50% {
        filter: drop-shadow(0px 10px 10px #ffffff50);
        width: 248px;
    }
}

.postSearch:hover {
    opacity: 0.8;
}

.positionPostJob h6 {
    font-size: 18px;
}

.positionPostJob p {
    font-size: 14px;
    margin-top: 5%;
}

.haveAProblemSeePostJob p {
    font-size: 13px;
}

.haveAProblemSeePostJob a {
    text-decoration: none;
    color: #f9a51f;
    font-size: 12px;
    transition-duration: 0.4s;
}

.haveAProblemSeePostJob a:hover {
    color: #f9a51f99;
}


.btn a {
    padding: 0.7rem 2rem;
    cursor: pointer;
    background: #82b5bd;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-decoration: none;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}


.btn a:hover {
    filter: drop-shadow(0px 10px 10px #82b5bd22);
}


@media (max-width: 840px) {
    .ContainerProfileStart {
        width: 90%;
    }
}

@media (max-width: 640px) {
    .ContainerProfileStart {
        flex-direction: column;
    }
}


.Social {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Social p {
    font-size: 0.9rem;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.positionPostSearch img {
    height: 100px;
    width: auto;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    border-radius: 5px;
}

.positionPostSearch img:hover {
    opacity: 0.7;
}

.infoCodeLine {
    font-size: 14px;
    margin-bottom: 5%;
}

.social-icons span {
    width: 42px;
    height: 38px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: #82b5bd;
    position: relative;
    transition: transform 400ms ease-in-out;
}

.social-icons span:hover {
    transform: rotate(360deg);
}

.social-icons a {
    color: black;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 690px) {
    .Social p {
        font-size: 0.7rem;
    }
}

/* .Profile img {
    width: 250px;
    transform: rotate(15deg);
}

.Profile img:hover img {
    transform: translateY(-10px);
} */


@media screen and (max-width: 768px) {
    /* .Profile {
        display: flex;
        justify-content: center;
    }

    .Profile img {
        width: 200px;
    } */

    .ContainerProfileStart {
        gap: 2rem;
        min-height: 85vh;
    }
    

    .Texts h3,
    .Texts h4,
    .Texts p,
    .btn a {
        font-size: 14px;
    }

    .positionPostSearch img {
        height: 80px;
    }

    .positionButtonAndLineGit {
        flex-direction: column;
    }

    .postSearch {
        /* margin-top: 8%; */
        align-items: center;
        text-align: center;
        /* transform: rotate(0deg); */
    }

    .postSearch img {
        width: 180px;
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        -webkit-animation: postMobileScreen 2s linear infinite;
        -moz-animation: postMobileScreen 2s linear infinite;
        animation: postMobileScreen 2s linear infinite;
    }

    @keyframes postMobileScreen {
        50% {
            filter: drop-shadow(0px 10px 10px #ffffff50);
        }
    }
}




@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    .positionButtonAndLineGit {
        flex-direction: column;
    }

    /* .postSearch {
        margin-top: 5%;
        align-items: center;
        text-align: center;
        transform: rotate(0deg);
    } */
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    .positionButtonAndLineGit {
        flex-direction: column;
    }

    /* .postSearch {
        margin-top: 5%;
        align-items: center;
        text-align: center;
        transform: rotate(0deg);
    } */
}