.ContainerRecommendations {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 4rem 0;
}

.ContainerRecommendations span {
    font-weight: 700;
    text-transform: uppercase;
}

.ContainerRecommendations h1 {
    padding-top: 1rem;
    text-transform: capitalize;
}

.ContainerRecommendations h6 {
    padding-top: 1rem;
    text-transform: capitalize;
    font-size: 15px;
}


.slick-dots {
    text-align: left;
    margin-left: 1rem;
    bottom: 3.5rem;
}

.slick-dots li button:before {
    content: "";
}

.slick-dots li button {
    width: 9px;
    height: 6px;
    background: #82b5bdea;
    padding: 0.1rem;
    margin-top: 1rem;
    transition: all 400ms ease-in-out;
    border-radius: 50px;
}

.slick-dots li.slick-active button {
    background: #f9a51f;
    width: 15px;
}

.slick-dots li {
    margin: 0;
}

@media (max-width: 840px) {
    .ContainerRecommendations {
        width: 90%;
    }

    .slick-dots li {
        bottom: 5rem;
    }
}

.Testimonials {
    position: relative;
}

.Buttons {
    position: absolute;
    right: 0.7rem;
    bottom: 2rem;
}

.Buttons button {
    background-color: transparent;
    margin-left: 1.5rem;
    border: none;
    /* background-color: #f9a51f; */
    cursor: pointer;
    font-size: 32px;
    color: #f9a51f;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    /* Safari */
}

.Buttons button:hover {
    font-size: 30px;
    color: #82b5bd;
}


@media(max-width:530px) {
    .Buttons button {
        display: none;
    }
}





.ContainerRecommendationsCard {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    background: rgba(0, 0, 0, 0.16);
    padding: 1.5rem 1rem;
    margin: 0 1rem;
    border-radius: 1%;
}


.Header {
    display: flex;
    justify-content: end;
    margin-bottom: -2.5rem;
}

.Header .quote {
    font-size: 30px;
    color: #82b5bd;
    opacity: 0.7;
}


.BodyCard {
    font-size: 13px;
    margin-bottom: 42%;
    margin-top: 7%;
}

.BodyCard b {
    padding-left: 2%;
    font-size: 13px;
    color: #f9a51f;
    cursor: pointer;
}

.BodyCard b:hover {
    color: #f9a51f9b;
}

.FooterCard {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.FooterCard img {
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    object-fit: cover;
}


.FooterCard h1 {
    font-size: 1.2rem;
    font-weight: 700;
}

.FooterCard p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
}


@media (max-width: 580px) {
    .FooterCard h1 {
        font-size: 1rem;
    }
}

@media (max-width: 538px) {

    .FooterCard h1 {
        font-size: 0.9rem;
    }

    .FooterCard p {
        font-size: 0.6rem;
    }
}