.ButtonScroll {
    display: flex;
    justify-content: right;
    right: 5%;
    position: fixed;
    width: 100%;
    bottom: 40px;
    height: 20px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    color: #01be96;
}