.BannerApp {
    background: rgba(128, 128, 128, 0.097);
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

.LightColor {
    background: rgba(128, 128, 128, 0.097);
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}


@media (max-width: 640px) {
    .BannerApp {
        height: 100%;
        padding-bottom: 2rem;
    }
}


@media screen and (max-width: 768px) {
    .g-recaptcha {
        transform: scale(0.77);
        transform-origin: 0 0;
    }

    .BannerApp,
    .LightColor {
        border-radius: 0;
    }
}