.BannerApp {
    height: 100vh;
    background: url("../src/images/11.webp");
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

.LightColor {
    background: url("../src/images/22.webp");
}

.bannerMargin {
    margin-top: -6%;
}


@media (max-width: 640px) {
    .BannerApp {
        height: 100%;
        padding-bottom: 2rem;
    }
}


@media screen and (max-width: 768px) {
    .g-recaptcha {
        transform: scale(0.77);
        transform-origin: 0 0;
    }

    .bannerMargin {
        margin-top: -12%;
    }
}