.ContainerApp,
.BannerApp {
    /* background: linear-gradient(159deg, rgb(45, 45, 58) 0%, rgb(43, 43, 53) 100%); */
    height: 100vh;
    background: url("https://i.postimg.cc/wjkknfPK/low-contrast-linen.png");
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

.LightColor {
    background: url("https://i.postimg.cc/wjkknfPK/low-contrast-linen.png"); 
    /* background: linear-gradient(159deg, rgb(45, 45, 58) 0%, rgb(43, 43, 53) 100%); */
}