@import url('https://fonts.googleapis.com/css2?&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --lighter: linear-gradient(159deg, rgb(45, 45, 58) 0%, rgb(43, 43, 53) 100%);
  ---background: #191923;
}

body {
  width: 100%;
  background: url("https://i.postimg.cc/8kKddfvG/87878.png");
  color: #fff;
  overflow-x: hidden;
  position: relative;
  cursor: url("https://i.postimg.cc/q7R0vBGq/cursor-Start-Web.png"), pointer;
}

.green {
  color: #f9a51f;
}

.slick-list,
.slick-slider,
.slick-track {
  padding: 1.5rem 0;
}

.center .slick-center .project {
  transform: scale(1.2);
  z-index: 10000;
  transition: all 400ms ease-in-out;
  pointer-events: all;
  opacity: 1;

  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -webkit-animation: projects 4s linear infinite;
  -moz-animation: projects 4s linear infinite;
  animation: projects 4s linear infinite;
}



@keyframes projects {
  50% {
    filter: drop-shadow(0 0 0.40rem #ffffffb6);
    transform: rotate(0deg);
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.center .project {
  opacity: 0.3;
  pointer-events: none;
}

@media(max-width: 990px) {
  .center .slick-center .project {
    transform: scale(1);
  }

  .center .project {
    opacity: 1;
    pointer-events: all;
  }
}


/* scroll bar style  */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* background: #000000; */
  background: url("https://i.postimg.cc/8kKddfvG/87878.png");
}

::-webkit-scrollbar-thumb {
  background: #82b5bd;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f9a51f;
}

@keyframes header {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



/* swal css model */
.swal2-container.swal2-center>.swal2-popup {
  font-size: 13px;
  border-radius: 15px;
  background: url("./images/11.webp");
  color: #fff;
}

/* swal css butoon */
.swal2-styled.swal2-confirm {
  font-size: 15px;
  color: #ffffff;
}


/* Remove SweetAlert button outline on focus */
.swal2-close:focus {
  box-shadow: none !important;
}


/* popup say shabbatShalom */
.popUpShabbatShalom {
  border-radius: 10%;
  height: 200px;
}